.daily-weather-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 auto;
  margin-right: 1rem;
  height: 18.5625rem; /* 297px */
  align-items: stretch;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 0.75rem; /* 12px */
  padding: 1rem;
  font-family: '"Segoe UI", Tahoma, Geneva, Verdana, sans-serif';
  color: white;
  max-height: 50rem; /* 800px */
  width: 100%;
  max-width: 93.75rem; /* 1500px */
  overflow-x: auto;
  overflow-y: hidden;
  transition: max-height 0.3s ease;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.daily-weather-card:hover {
  transform: scale(1.03);
  overflow-y: auto;
}

.daily-weather-card::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.forecast-item {
  flex: 0 0 auto;
  width: 6.25rem; /* 100px */
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .daily-weather-card {
    flex-direction: column;
    padding: 0.5rem;
    position: relative;
    right: 9.7rem;
    overflow-y: auto;
    top: -24.5rem;
    left: 10.5rem;
    width:67%;
    height: 19.5rem;
  }
}

@media (max-width: 600px) {
  .forecast-item {
    width: 4.5rem;
    margin-right: 0.5rem;
  }
}
